* {
  box-sizing: border-box;
}

html {
  background-color: rgb(255, 217, 0);
}

h1 {
  font-family: fantasy;
  text-align: center;
}

.switch {
  display: flex;
  flex-direction: column;
  background-color: red;
}